<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT_STD" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT_INV" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>Proxied invocation upon ejb:%n%msg%n</pattern>
		</encoder>
	</appender>

	<!-- Log warnings and errors only by default -->
	<root level="WARN">
		<!-- log to the standard output with the default logback pattern -->
		<appender-ref ref="STDOUT_STD" />
	</root>

	<!-- InvocationLoggers log on the trace level -->
	<logger name="ejbproxy.runtime.invocation.InvocationLogger"
		level="TRACE" additivity="false">
		<!-- log to the standard output with a modified pattern appropriate for 
			invocation logging -->
		<appender-ref ref="STDOUT_INV" />
	</logger>

</configuration>